<div class="row">
    <div class="col-xs-12">
        <h2>{{recipe.name}}</h2>
    </div>
</div><br>
<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="rounded mx-auto d-block"
            style="max-width: 300px;float: left;">
    </div>
</div><br>

<div ngbDropdown class="dropdown">
    <button ngbDropdownToggle class="btn btn-success" type="button" id="dropdownMenuButton1" aria-expanded="false">
        Dropdown button
    </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
        <li><a ngbDropdownItem (click)="onAddToShoppingList()" style="cursor:pointer;">Shopping List</a></li>
        <li><a ngbDropdownItem (click)="onEditToShoppingList()" style="cursor:pointer;">Edit Recipe</a></li>
        <li><a ngbDropdownItem (click)="onDeleteToShoppingList()" style="cursor:pointer;">Delete Recipe</a></li>
    </ul>
</div>

<br>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div><br>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>